<h1>These are some cool students:</h1>

<ul>
  <% @students.each do |student| %>
  <p><%# link_to user.name, user_path(user)  %></p>
  <p><%= link_to student.name, student_path(student)  %></p>
<% end %>
</ul>
